.app-nav-accordion::ng-deep {
  .mat-expansion-panel {
    border-radius: 0px !important;
    box-shadow: none !important;

    &.mat-expansion-panel-spacing {
      margin: 0px;
    }

    .mat-expansion-panel-body {
      padding: 0px;
    }

    .mat-expansion-panel-header {
      height: 40px;
      padding: 0px 24px 0px 16px;
    }

    .mat-expansion-panel-header-title {
      color: rgba(0, 0, 0, 0.54);
      font-size: 14px;
      font-weight: 500;
    }
  }
}

.mat-list-base .mat-list-item {
  font-size: 14px;
}

.mat-list-base {
  padding-top: 0;
}

.mat-icon {
  margin-right: 0.5em;
}
