<mat-accordion class="app-nav-accordion">
  <mat-nav-list>
    <button
      mat-raised-button
      color="primary"
      routerLink="/Admin"
      class="w-100 mb-2"
    >
      {{ "admin-panel" | translate }}
    </button>
  </mat-nav-list>

  <mat-expansion-panel
    class="mat-elevation-z0"
    [disabled]="true"
    #mep="matExpansionPanel"
  >
    <mat-expansion-panel-header class="px-0">
      <button
        mat-raised-button
        color="primary"
        class="w-100"
        (click)="mep.expanded = !mep.expanded"
      >
        {{ "account-management" | translate }}
        <mat-icon>{{ mep.expanded ? "expand_less" : "expand_more" }}</mat-icon>
      </button>
    </mat-expansion-panel-header>

    <mat-nav-list>
      <button
        mat-stroked-button
        color="basic"
        routerLink="/Admin/Users"
        class="w-100 text-left"
      >
        <mat-icon>people</mat-icon>
        {{ "users" | translate }}
      </button>
      <br />
      <button
        mat-stroked-button
        color="basic"
        routerLink="/Admin/Roles"
        class="w-100 text-left"
      >
        <mat-icon>how_to_reg</mat-icon>
        {{ "roles" | translate }}
      </button>
    </mat-nav-list>
  </mat-expansion-panel>
</mat-accordion>
