table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.example-container {
  height: 700px;
  overflow: auto;
}

table {
  width: 100%;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}
