<div class="container-fluid h-100">
  <div class="row main">
    <div class="col-12">
      <router-outlet></router-outlet>
      <button
        id="adminPanelBtn"
        mat-mini-fab
        color="primary"
        routerLink="/Admin"
        class="admin-navigation-button"
        *ngIf="administratorRole && !isAdminPanel"
      >
        <mat-icon>admin_panel_settings</mat-icon>
      </button>
      <button
        id="homePageBtn"
        mat-mini-fab
        color="primary"
        routerLink="/"
        class="admin-navigation-button"
        *ngIf="administratorRole && isAdminPanel"
      >
        <mat-icon>home</mat-icon>
      </button>
    </div>
  </div>

  <div class="footer">
    <div class="row footer-row">
      <div class="col-12">
        <kendo-dropdownlist
          class="dropdown"
          [data]="translateService.getLangs()"
          [(ngModel)]="selectedLang"
          (valueChange)="translateService.use($event)"
        >
        </kendo-dropdownlist>
      </div>
    </div>
  </div>
</div>
