<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav px-2" mode="over" position="end">
    <dds-admin-menu *ngIf="administratorRole"></dds-admin-menu>
  </mat-drawer>

  <div class="example-sidenav-content">
    <div class="container-fluid">
      <div class="row header">
        <kendo-dropdownlist
          class="dropdown"
          [data]="translateService.getLangs()"
          [(ngModel)]="selectedLang"
          (valueChange)="translateService.use($event)"
        >
        </kendo-dropdownlist>
      </div>
      <div class="row">
        <router-outlet></router-outlet>
      </div>
    </div>

    <div class="example-button-container">
      <button
        id="adminPanelBtn"
        mat-mini-fab
        color="primary"
        (click)="drawer.toggle()"
        *ngIf="administratorRole"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>
</mat-drawer-container>
