.admin-navigation-button {
  position: fixed;
  top: 150px;
  right: 5px;
}

.main {
  display: flex;
  flex-flow: column;
  height: calc(100vh - 53px);
}

.footer {
  position: fixed;
  width: 100%;
  left: 0px;
  bottom: 0px;

  .footer-row {
    height: 45px;
    background-color: #f6f6f6;
    border-top: solid #bbbbbb 1px;
    align-items: center;

    .dropdown {
      height: 30px;
    }
  }
}

.header {
  border-bottom: #bbbbbb 1px solid;
  box-shadow: 1px 1px 6px grey;
}
