.admin-navigation-button {
  position: fixed;
  top: 100px;
  right: 10px;
}

.main {
  height: calc(100% - 45px);
  display: flex;
}

.footer {
  position: fixed;
  width: 100%;
  left: 0px;
  bottom: 0px;

  .footer-row {
    height: 45px;
    background-color: #f6f6f6;
    border-top: solid #bbbbbb 1px;
    align-items: center;

    .dropdown {
      height: 30px;
    }
  }
}
