<div class="container-fluid h-100">
  <div class="row header" *ngIf="administratorRole && !isAdminPanel">
    <div class="col-1 logo p-1">
      <img src="../../assets/logo.png" class="img-fluid p-0" routerLink="/" />
    </div>
    <div class="col text-right">
      <button
        mat-raised-button
        routerLink="/Auth/Login"
        *ngIf="!(userLogged$ | async)"
      >
        Strona logowania
      </button>
      <button
        mat-raised-button
        routerLink="/Auth/Registration"
        *ngIf="userLogged$ | async"
      >
        Strona rejestracji
      </button>
    </div>
  </div>

  <div class="row main">
    <div class="col-12">
      <router-outlet></router-outlet>
      <button
        id="adminPanelBtn"
        mat-mini-fab
        color="primary"
        routerLink="/Admin"
        class="admin-navigation-button"
        *ngIf="(userLogged$ | async) && administratorRole && !isAdminPanel"
      >
        <mat-icon>admin_panel_settings</mat-icon>
      </button>
      <button
        id="homePageBtn"
        mat-mini-fab
        color="primary"
        routerLink="/"
        class="admin-navigation-button"
        *ngIf="(userLogged$ | async) && administratorRole && isAdminPanel"
      >
        <mat-icon>home</mat-icon>
      </button>
    </div>
  </div>

  <div class="footer">
    <div class="row footer-row">
      <div class="col-12 ml-2">
        <mat-form-field>
          <mat-select
            [(value)]="selectedLang"
            (valueChange)="translateService.use($event)"
          >
            <mat-option
              *ngFor="let lang of translateService.getLangs()"
              [value]="lang"
            >
              {{ "languages." + lang | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
