<h1 mat-dialog-title>Zablokuj użytkownika</h1>
<div mat-dialog-content>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>Wprowadź powód blokady</p>
      </div>

      <div class="col-12">
        <mat-form-field class="w-100">
          <mat-label>Przyczyna blokady</mat-label>
          <textarea
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
            [(ngModel)]="ReasonText"
          ></textarea>
        </mat-form-field>
      </div>

      <div class="col-12">
        <section class="float-right">
          <mat-checkbox color="primary"
            >Zapisz jako zdefiniowany powód.</mat-checkbox
          >
        </section>
      </div>

      <div class="col-12">
        <p>Albo wybierz z listy</p>
      </div>

      <div class="col-12">
        <mat-form-field class="w-100">
          <mat-label>Zapisane powody</mat-label>
          <mat-select
            #fontSize
            value="-1"
            (selectionChange)="onSelectChange($event)"
          >
            <mat-option value="-1">-</mat-option>
            <mat-option
              value="{{ i }}"
              *ngFor="let reason of reasons$ | async; let i = index"
              >{{ reason }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions class="float-right">
  <button mat-raised-button (click)="onNoClick()">Anuluj</button>
  <button mat-raised-button color="warn" (click)="onNoClick()">
    Zablokuj
  </button>
  <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> -->
</div>
