<mat-accordion class="app-nav-accordion">
  <mat-expansion-panel
    class="mat-elevation-z0"
    [disabled]="true"
    #mep="matExpansionPanel"
  >
    <mat-expansion-panel-header class="px-0">
      <button
        mat-raised-button
        color="primary"
        class="w-100 px-1"
        (click)="mep.expanded = !mep.expanded"
      >
        <mat-icon class="menu-icon">{{ HeaderIcon }}</mat-icon>
        {{ Header | translate }}
        <span class="fill-space"></span>
        <mat-icon class="Arrow">
          {{ mep.expanded ? "expand_less" : "expand_more" }}</mat-icon
        >
      </button>
    </mat-expansion-panel-header>

    <mat-nav-list>
      <button
        mat-stroked-button
        color="basic"
        [routerLink]="item.url"
        class="w-100 text-left"
        routerLinkActive="active"
        *ngFor="let item of Items"
      >
        <mat-icon>{{ item.icon }}</mat-icon>
        {{ item.name | translate }}
      </button>
    </mat-nav-list>
  </mat-expansion-panel>
</mat-accordion>
