.main-menu {
  background-color: #343a40;
  padding-top: 15px !important;
  -webkit-box-shadow: 10px 16px 22px 0px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 10px 16px 22px 0px rgba(0, 0, 0, 0.32);
  box-shadow: 10px 16px 22px 0px rgba(0, 0, 0, 0.32);
}

.main-content {
  padding-top: 15px !important;
}

.header {
  height: 45px;
}

.logo {
  background: #343a40;
  border-bottom: 1px solid #4b545c;
}

.user-bar {
  background: #fff;
  border-bottom: 1px solid #dee2e6;
}
