$gray: #4b545c;

@mixin inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}

ul.breadcrumbs {
  margin: 5px 0px 0px;
  padding: 0px;
  font-size: 0px;
  line-height: 0px;
  @include inline;

  li {
    position: relative;
    margin: 0px 0px;
    padding: 0px;
    list-style: none;
    list-style-image: none;
    @include inline;
    border-left: none;
    transition: 0.3s ease;

    &:hover {
      &:before {
        border-left: 10px solid $gray;
      }

      a {
        color: #000;
        background: $gray;
      }
    }

    &:before {
      content: "";
      position: absolute;
      right: -9px;
      top: 0px;
      z-index: 20;
      border-left: 10px solid #fff;
      border-top: 13px solid transparent;
      border-bottom: 13px solid transparent;
      transition: 0.3s ease;
    }

    &:after {
      content: "";
      position: absolute;
      right: -10px;
      top: 0px;
      z-index: 10;
      border-left: 10px solid #ccc;
      border-top: 13px solid transparent;
      border-bottom: 13px solid transparent;
    }

    &.active {
      a {
        color: #c2c7d0;
        background: $gray;
      }
    }

    &.first {
      border-left: none;

      a {
        height: 26px;
        border-radius: 5px 0px 0px 5px;
      }
    }

    &.last {
      &:before {
        display: none;
      }
      &:after {
        display: none;
      }

      a {
        padding-right: 20px;
        border-radius: 0px 5px 5px 0px;
      }
    }

    a {
      display: block;
      font-size: 12px;
      line-height: 24px;
      color: #757575;
      padding: 0px 15px 0px 25px;
      text-decoration: none;
      background: #fff;
      border: 1px solid #ddd;
      white-space: nowrap;
      overflow: hidden;
      transition: 0.3s ease;
    }
  }
}
